* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

/*header starts*/

.header {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0px;
  background-color: white;
}

.header .logo {
  width: 80px;
  height: 80px;
  padding: 10px;
}

.header .logo img {
  width: 100%;
}

.header .categories ul {
  display: flex;
}

.header .categories ul li {
  list-style-type: none;
  display: block;
  padding: 10px;
}

.header .categories ul li a {
  color: black;
}

.header .categories ul li :hover {
  color: orange;
}

.header .search-bar {
  display: flex;
  align-items: center;
}

.header .search-bar i {
  padding: 5px;
  background-color: rgb(236, 235, 235);
  color: orange;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}

.header .search-bar input {
  padding: 5px;
  width: 190px;
  background-color: rgb(236, 235, 235);
  border: none;
}

.header .search-bar input:focus {
  outline: none;
}

.header .search-bar button {
  padding: 5px;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: gray;
  color: white;
}

.header .search-bar button:hover {
  background-color: lightgray;
}

.header .interactive-buttons ul {
  display: flex;
  margin-left: 50px;
}

.header .interactive-buttons ul li {
  list-style-type: none;
  padding: 10px;
}

.header .interactive-buttons ul li a {
  color: black;
}

.header .interactive-buttons ul li a:hover {
  color: orange;
}

.header .left,
.header .right {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1020px) {
  .header {
    font-size: 15px;
  }

  .header .interactive-buttons ul li:nth-child(1),
  .header .interactive-buttons ul li:nth-child(2),
  .header .interactive-buttons ul li:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .header .search-bar {
    display: none;
  }

  .header .categories ul li {
    padding: 5px;
  }

  .header .interactive-buttons ul li:nth-child(1),
  .header .interactive-buttons ul li:nth-child(2),
  .header .interactive-buttons ul li:nth-child(3) {
    display: block;
  }
}

@media screen and (max-width: 650px) {
  .header {
    font-size: 12px;
  }

  .header .interactive-buttons ul li:nth-child(1),
  .header .interactive-buttons ul li:nth-child(2),
  .header .interactive-buttons ul li:nth-child(3) {
    display: none;
  }
}

/*header ends*/

/* content starts */
.content {
  margin-top: 80px;
  min-height: calc(100vh - 80px);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content .container {
  width: 350px;
}

.content .container .form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content .container .form form {
  width: 100%;
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
}

.content .container .form form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 2.5px;
  border: 1px solid black;
}

.content .container .form form input:focus {
  outline: none;
}

.content .container .form form button {
  width: 33%;
  align-self: center;
  margin-top: 20px;
  padding: 5px;
  background-color: darkred;
  border-radius: 2.5px;
  border: none;
  color: white;
  cursor: pointer;
}

.content .container .form form button:hover {
  background-color: rgb(167, 21, 21);
  color: white;
}

.content .container .form a {
  color: rgb(32, 32, 218);
  text-decoration: underline;
  margin-bottom: 10px;
}

.content .container .form a:hover {
  color: darkblue;
}

.content .container .form .error-message {
  align-self: center;
}

.content .container .form .error-message p {
  color: darkred;
}

/* content ends  */

/* footer starts */
.footer {
  display: flex;
  width: 100vw;
  background-color: #333f48;
  color: lightgray;
}

.footer .col-1,
.footer .col-2,
.footer .col-3 {
  padding: 10px;
}

.footer .col-1 {
  width: 40%;
}

.footer .col-2 {
  width: 30%;
}

.footer .col-2 ul li {
  list-style-type: none;
  padding: 5px;
}

.footer .col-2 ul li a {
  color: lightgray;
}

.footer .col-2 ul li a:hover {
  color: orange;
}

.footer .col-3 {
  width: 30%;
}

.footer .col-3 p {
  margin-bottom: 10px;
}

.footer .col-1 h1,
.footer .col-2 h1,
.footer .col-3 h1 {
  margin-bottom: 10px;
}

/* footer ends  */
